@use "../abstracts/variables" as *;

.card__bar {
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background-color: $light-gray;
  position: relative;
  margin: 2rem 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 1rem;
    border-radius: 1rem;
    background-color: $light-cyan;
  }
}
