@use "../abstracts/variables" as *;

nav {
  padding-top: 2rem;
  background: linear-gradient(rgba($simple-black, 0.7), rgba($dark-gray, 0));

  .container {
    display: flex;
    align-items: center;
    .menu {
      display: none;
    }
  }
}
