* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Commissioner', sans-serif;
}
a {
  color: $white;
  text-decoration: none;
}
ul {
  list-style: none;
}
