@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

.card__hero--title {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 2rem;
}
.card__hero--description {
  font-size: 1.2rem;
  color: rgba($dark-gray, 0.8);
  line-height: 1.6;
  padding: 2rem 0;
}

.card__numbers {
  text-align: center;
  .card__raised {
    &--title {
      font-size: 3rem;
      font-weight: 700;
    }
    &--description {
      font-size: 1.4rem;
      padding: 1rem 0;
      color: rgba($dark-gray, 0.8);
    }
  }
  .card__participants {
    &--title {
      font-size: 3rem;
      font-weight: 700;
    }
    &--description {
      font-size: 1.4rem;
      padding: 1rem 0;
      color: rgba($dark-gray, 0.8);
    }
  }
  .card__days {
    &--title {
      font-size: 3rem;
      font-weight: 700;
    }
    &--description {
      font-size: 1.4rem;
      padding: 1rem 0;
      color: rgba($dark-gray, 0.8);
    }
  }
}
