// Primary colors

$light-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$white: #ffffff;
$simple-black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray: #f4f4f4;

// Font sizes

$font-xxl: 2.4rem;
$font-xl: 2rem;
$font-large: 1.8rem;
$font-medium: 1.6rem;
$font-small: 1.4rem;
